<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">O stránke</a></li>
		        	<li><a href="/O mne">O mne</a></li>
				<li><a href="/Zivotopis">Môj životopis</a></li>
	        		<li><a href="/Projekty">Moje projekty</a></li>
	        		<li><a href="/ZaujmyAHobby">Moje záujmy a koníčky</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gulis2505@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ivangulis">github.com/ivangulis</a></li>
				</ul>
			</footer>
		</body>
	</html>
