---
layout: default
---
<h1>{{ page.title }}</h1>

<img src="{{ site.url }}{{ page.obrazok1 }}" alt="{{ page.alt1 }}" title="{{ page.title1 }}">

<p><strong>{{ page.opis1 }}</strong></p>

<img src="{{ site.url }}{{ page.obrazok2 }}" alt="{{ page.alt2 }}" title="{{ page.title2 }}">

<p><strong>{{ page.opis2 }}</strong></p>

<img src="{{ site.url }}{{ page.obrazok3 }}" alt="{{ page.alt3 }}" title="{{ page.title3 }}">

<p><strong>{{ page.opis3 }}</strong></p>

<div class="post">
  {{ content }}
</div>

 {% comment %} Sú 3 zdroje obrázkov, niektoré sú moje vlastné obrázky. {% endcomment %}
<ol>
<p>Zdroje obrázkov:</p>
{% if page.zdroj1 == 'vlastný obrázok' %}
  <li><p>vlastný obrázok</p></li>
{% elsif page.zdroj1 != 'vlastný obrázok' %}
  <li><p><a href="{{ page.zdroj1 }}"><i>Zdroj</i></a></p></li>
{% endif %}
{% if page.zdroj2 == 'vlastný obrázok' %}
  <li><p>vlastný obrázok</p></li>
{% elsif page.zdroj2 != 'vlastný obrázok' %}
  <li><p><a href="{{ page.zdroj2 }}"><i>Zdroj</i></a></p></li>
{% endif %}
{% if page.zdroj3 == 'vlastný obrázok' %}
  <li><p>vlastný obrázok</p></li>
{% elsif page.zdroj3 != 'vlastný obrázok' %}
  <li><p><a href="{{ page.zdroj3 }}"><i>Zdroj</i></a></p></li>
{% endif %}
</ol>
